@import "reset.css";
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
body {
  background-color: rgb(97, 124, 94);
  color: rgb(228, 206, 135);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}

h1 {
  display: inline-block;
  width: 300px;
  color: rgb(97, 124, 94);
  background-color: rgb(233, 210, 136);
  font-size: 50px;
  font-weight: 500;
  margin: 30px;
  padding: 10px;
  border: solid;
  border-radius: 10px;
  border-color: rgb(218, 197, 129);
}
.warning {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px;
  font-weight: 500;
  border-radius: 10px;
  color: rgb(206, 206, 206);
  background-color: rgb(194, 114, 114);
}
.fadeout {
  animation: fadeout 10s;
  -moz-animation: fadeout 10s;
  -webkit-animation: fadeout 10s;
  -o-animation: fadeout 10s;
  animation-fill-mode: forwards;
}
.hidden {
  visibility: hidden;
}
.sum_container {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, auto));
  column-gap: 20px;
  justify-content: center;
}
.todo_name,
.have_name {
  position: relative;
  font-size: 30px;
  font-weight: 500;
  align-items: center;
}
.todo_name span svg {
  position: absolute;
  right: 5px;
  bottom: 1px;
  font-size: 20px;
  color: rgb(194, 114, 114);
}
.todo_form,
.have_form {
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid 5px rgb(218, 197, 129);
  border-radius: 10px;
}
.todo_form input,
.have_form input {
  all: unset;
  padding: 10px;
  font-size: 15px;
  font-weight: 500;
  vertical-align: auto;
}
.todo_form input[type="text"],
.have_form input[type="text"] {
  font-size: 15px;
}
.todo_form input[type="submit"],
.have_form input[type="submit"] {
  border: 0ch;
  font-size: 20px;
  font-weight: 800;
  border-left: dashed 3px;
}

button {
  border: 0;
  font-size: 15px;
  padding: 0%;
}
.delete {
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  text-decoration-color: rgb(194, 114, 114);
}
.todo_list,
.have_list {
  position: relative;
  font-size: 15px;
  max-width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: solid 5px rgb(236, 214, 139);
  border-radius: 10px;
}
.todo_list li,
.have_list li {
  display: grid;
  grid-template-columns: 1fr 9fr 1fr;
  align-items: center;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
}
.todo_list input[type="checkbox"],
.have_list input[type="checkbox"] {
  border: solid 2px black;
}
.todo_list svg,
.have_list svg {
  border: unset;
  color: rgb(218, 197, 129);
  background-color: rgb(97, 124, 94);
}
